<

 <!--Header - menu-->
 <header>

  <div class="header-content">

      <div class="logo">
          <h1>Uleam<b>libros</b></h1>

      </div>

      <div class="menu" id="show-menu">

          <nav id="formulario">
              <ul>


                  <li class="menu-selected"><a  routerLink="inicio" class="text-menu-selected">
                      <i ></i>Inicio</a></li>

                      <li><a routerLink="catalogo"> <i ></i>Catalogo</a></li>
                      <li><a routerLink="Biblioteca"> <i ></i> Quienes somos</a></li>
                      <li id="perfil"><a routerLink="perfil"> <i ></i> Perfil</a></li>
                      <li id="inicio_sesion"><a  routerLink="Sesion"> <i ></i> Iniciar sesión</a></li>
                      <li id="registro"><a  routerLink="Registro"> <i ></i> Registrarse</a></li>
                      <li id="libro"><a href="rlibro.html"> <i ></i> Registrar libro</a></li>
                      <li id="sesion"><a href="inicio.html" onclick="eliminar()"> <i ></i> Cerrar sesión</a></li>
              </ul>
          </nav>

      </div>

  </div>

  <div id="icon-menu">
      <i class="fas fa-bars"></i>
  </div>

</header>

>

