

<div class="container-footer">


  <footer>


      <div class="redes-footer">
          <a href="https://www.facebook.com"><i class="fab fa-facebook-f icon-redes-footer"></i>Facebook</a>
          <a href="https://mail.google.com/mail/u/0/#inbox"><i class="fab fa-google-plus-g icon-redes-footer">Gmail.com</i></a>
          <a href="https://www.instagram.com"><i class="fab fa-instagram icon-redes-footer"></i>instagram</a>
      </div>

      <hr>
      <h4>© 2021 Uleamlibros - Todos los Derechos Reservados</h4>

  </footer>

</div>
